[Unit]
Description=Dont Break the Chain Discord Bot
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=service-user
WorkingDirectory=path/to/service/directory
ExecStart=/usr/bin/env nodemon build/index.js

[Install]
WantedBy=multi-user.target